.FormSwitch {
  margin: 8rem 0 4rem 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.FormSwitch--option {
  width: 30%;
  cursor: pointer;
}
.FormSwitch--option:hover {
  opacity: 0.8;
}
.FormSwitch--option:hover .Button-outline {
  background: var(--primary);
  color: white;
  outline: none;
}
.FormSwitch--option.active .Button-outline {
  border-color: var(--midGrey);
}
.FormSwitch--image {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.FormResults-result {
  text-align: center;
  font-size: 1.8rem;
  background: var(--lightGrey);
  padding: 4rem;
}

@media screen and (max-width: 700px) {
  .FormTemplate .container.skinny {
    width: 100%;
    padding: 0;
  }
  .FormSwitch {
    margin: 0;
    display: block;
  }
  .FormSwitch--option {
    width: 80%;
    margin: 0 auto 1rem auto;
    cursor: pointer;
  }
  .FormSwitch--image {
    display: none;
  }
  .FormResults-result {
    padding: 2rem 1rem;
  }

  .FormSwitch--option.happy .Button-outline {
    background: #e6f5e2 url(/images/happy.svg) 0 0 no-repeat;
    background-size: contain;
  }
  .FormSwitch--option.neutral .Button-outline {
    background: #fef5da url(/images/neutral.svg) 0 0 no-repeat;
    background-size: contain;
  }
  .FormSwitch--option.sad .Button-outline {
    background: #f9e0e1 url(/images/sad.svg) 0 0 no-repeat;
    background-size: contain;
  }
  .FormSwitch--option:hover .Button-outline {
    color: var(--secondary);
  }
}

@media screen and (max-width: 500px) {
  .FormResults-result {
    font-size: 1.4rem;
  }
  .EnquiryForm--Label--agree {
    font-size: 1rem;
  }
}
