.FormSwitch {
  margin: 8rem 0 4rem 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.FormSwitch--option {
  width: 30%;
  cursor: pointer;
}
.FormSwitch--option:hover {
  opacity: 0.8;
}
.FormSwitch--option:hover .Button-outline {
  background: var(--primary);
  color: white;
  outline: none;
}
.FormSwitch--option.active .Button-outline {
  border-color: var(--primary);
}
.FormSwitch--image {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.FormResults-result {
  text-align: center;
  font-size: 1.8rem;
  background: var(--lightGrey);
  padding: 4rem;
}
@media screen and (max-width: 700px) {
  .FormTemplate .container.skinny {
    width: 100% !important;
  }
  .FormSwitch {
    margin: 0;
    display: block;
  }
  .FormSwitch--option {
    width: 80%;
    margin: 0 auto 1rem auto;
    cursor: pointer;
  }

  .FormResults-result {
    padding: 2rem;
  }
}
