.Header {
  width: 100%;
  margin: 6rem 0 0 0;
}

.Header--image.container {
  position: relative;
  padding: 0;
}

.Header--image img {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
}
