.LifeForm {
  background: white url(/images/mail.svg) 98% 1rem no-repeat;
  padding: 2rem 4rem;
  width: 100%;
  max-width: 80%;
  margin: 4rem auto;
  border: dashed 2px var(--primary);
}
@media screen and (max-width: 700px) {
  .LifeForm {
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    margin: 2rem auto;
    border: dashed 2px var(--primary);
  }
}

.LifeForm--title {
  font-weight: 300;
  font-size: 2.2rem;
  width: 100%;
  margin: 0 0 2rem 0;
}
@media screen and (max-width: 600px) {
  .LifeForm--title {
    font-weight: 300;
    background: none;
    font-size: 1.3rem;
    width: 100%;
    margin: 0;
  }
}

.LifeForm .EnquiryForm--Input {
  border: var(--midGrey) 1px solid;
  border-radius: 8px;
  padding: 1rem 1rem;
  width: 100%;
}

.LifeForm .EnquiryForm--Textarea {
  width: 100%;
}

.LifeForm .EnquiryForm--Checkbox {
  margin: 0 1rem 0 0;
  flex-grow: 0;
  width: auto;
}

.LifeForm .EnquiryForm--SubmitButton {
  background: #f5861f;
  border: 8px solid #fdebd8;
  color: #ffffff;
  margin: 2rem auto 0 auto;
  cursor: pointer;
}

.LifeForm .EnquiryForm--SubmitButton:hover {
  background: white;
  border: 8px solid #fdebd8;
  color: #f5861f;
}

.LifeFormHappy {
  background: transparent;
  border: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.LifeFormHappy .EnquiryForm--SubmitButton {
  background: #f5861f;
  border: 8px solid #fdebd8;
  color: #ffffff;
  margin: 2rem auto 0 auto;
  cursor: pointer;
}

.LifeFormHappy .EnquiryForm--SubmitButton:hover {
  background: white;
  border: 8px solid #fdebd8;
  color: #f5861f;
}
